<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="example"></div>

  <% include partial/_footer %>

  <script src="./assets/js/bundle.js"></script>
</body>
</html>