@charset "utf-8";

//--------------------------------------------------------------------------------
// vars
//--------------------------------------------------------------------------------

// color
//------------------------------------------------------------

$white: #fff;
$silver: #91989f;
$black: #000;


// property
//------------------------------------------------------------

$serif: "Garamond Premier Pro", "Adobe Garamond Pro", Garamond, serif;
$sans: Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);


// size
//------------------------------------------------------------

$sp: 768px;


// layer
//------------------------------------------------------------

$l0: 0;





//--------------------------------------------------------------------------------
// mixin
//--------------------------------------------------------------------------------

@mixin clearfix {
  zoom: 1;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin hidetxt {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin media($mediaSize) {

  @if $mediaSize == sp {
    @media screen and (max-width: $sp) {
      @content
    }
  }

}
